/* Body styles */
body {
    font-family: 'Roboto Slab', Arial, sans-serif; /* Roboto Slab is the default font and Arial is the fall back option */
    margin: 0; /* Remove default body margins */
    padding: 0;
    color: #333; /* Dark forest green for text */
}

/* Typography */
.roboto-slab-bold {
    font-family: 'Roboto Slab', serif;
    font-optical-sizing: auto;
    font-weight: 500;  /* Assuming you want a bold weight */
    font-style: normal;
  }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;  /* Inherits font family from the parent element (optional) */
    font-weight: inherit;  /* Inherits font weight from the parent element (optional) */
    margin-bottom: 15px;
    padding: 0 20px; /* Add padding to headings */
}

/* Navigation bar styles */
nav {
    display: flex; /* Make navigation bar elements horizontal */
    justify-content: space-between; /* Move links to the right */
    align-items: center; /*align content vertically */
    background-color: #f0f0f0; /* Optional background colour */
    padding: 10px 20px; /* Add some padding */
}

nav img {
    width: 100px; /* Adjust logo width as needed */
    margin-right: 20px; /* Add space between logo and links */
}

nav ul {
    margin: 0px; /* Remove default list margins */
    padding: 0px; /* Remove default list paddings */
    list-style: none; /* Remove bullet points */
}

nav li {
    display: inline-block; /* Make list items display horizontally */
    margin-right: 20px; /* Add some space between list items */
}

nav a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Text colour for links */
}

/* Header Section */
header {
    background: #001F3F; /* Navy blue with subtle gradient */
    background-image: linear-gradient(to bottom, #001F3F 0%, #00294C 100%);
    color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
    width: 100%; /* Ensure it reaches the edges */
    box-sizing: border-box;
  }

/* Call to Action Buttons */
.cta-button {
    background-color: #DAA520; /* Muted gold */
    color: #fff; /* White */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px auto;
    display: inline-block;
  }

  .cta-button:hover {
    background-color: #C79A1A; /* Darker shade of muted gold on hover */
  }

/* Repsonsive Styles (Media Queries) */
@media (max-width: 768px) {
    /* Adjust styles for screens smaller than 768px */

    nav {
        flex-direction: column; /* Stack elements vertically */
        align-items: center;
    }

    nav img {
        margin-bottom: 10px; /* Add some space after logo on small screens */
    }

    nav ul {
        text-align: center; /* Center links horizontally */
    }

    h1 {
        font-size: 1.5rem; /* Adjust heading size for smaller screens */
    }

    p {
        font-size: 1rem; /* Adjust paragraph size for smaller screens */
    }
}